# Data Science Basics - Day 2

#### If you are using Google Colab, you must run the next line of code. *If you are NOT using Google Colab, do NOT run the next line.*

In [ ]:
!wget https://raw.githubusercontent.com/aGitHasNoName/dataScienceBasics/main/forestfires.csv

<br><br>First, we will import pandas and load the forest fire dataset.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("forestfires.csv")

<br>Let's take a look at our dataset:

In [ ]:
df.head()

Each row represents a forest fire documented in one geographic zone on a particular day. Some recorded fires were small - burning less than 1 acre - but they are still included in the data to help us understand trends not just of when fires start, but also when they spread.

## <br>Selecting columns or rows

To create a DataFrame with only some columns, you use indexing, and you pass it a list of the columns that you want to include:

In [ ]:
my_columns = ["month", "day", "area_burned"]
df[my_columns]

<br>OR you could just include the list inside the indexing. This creates two sets of square brackets, which looks a little silly, but it works!

In [ ]:
df[["month", "day", "area_burned"]]

<br>If you want to return just one column as a DataFrame, you still use the list inside the index:

In [ ]:
df[["temp"]]

### <br><br>Exercise 1

Here's a reminder of what the DataFrame looks like:

In [ ]:
df.head()

Write code to return the humidity, wind, and rain columns:

In [3]:
df[["humidity", "wind", "rain"]]

     humidity  wind  rain
0          51   6.7   0.0
1          33   0.9   0.0
2          33   1.3   0.0
3          97   4.0   0.2
4          99   1.8   0.0
..        ...   ...   ...
512        32   2.7   0.0
513        71   5.8   0.0
514        70   6.7   0.0
515        42   4.0   0.0
516        31   4.5   0.0

[517 rows x 3 columns]

Write code to return the day column:

In [4]:
df[["day"]]

     day
0    fri
1    tue
2    sat
3    fri
4    sun
..   ...
512  sun
513  sun
514  sun
515  sat
516  tue

[517 rows x 1 columns]

<br><br><br>If you only index the column name, without putting it in a list, you get a different type of pandas object - the **Series** object.

In [ ]:
df["temp"]

<br>A Series object only returns the values from one column. It can be turned into a list, which is very convenient:

In [ ]:
temp_list = list(df["temp"])
print(temp_list)

### <br><br>Exercise 2

Write code to return a list of data in the area_burned column:

In [5]:
area_data = list(df["area_burned"])

In [6]:
print(area_data)

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.36, 0.43, 0.47, 0.55, 0.61, 0.71, 0.77, 0.9, 0.95, 0.96, 1.07, 1.12, 1.19, 1.36, 1.43, 1.46, 1.46, 1.56, 1.61, 1.63, 1.64, 1.69, 1.75, 1.9, 1.94, 1.95, 2.01, 2.14, 2.29, 2.51, 2.53, 2.55, 2.57, 2.69, 2.74, 3.07, 3.5, 4.53, 4.61, 4.69, 4.88, 5.23, 5.33, 5.44, 6.38, 6.83, 6.96, 7.04, 7.19, 7.3, 7.4, 8.24, 8.31, 8.68, 8.71, 9.41, 10.01, 10.02, 10.93, 11.06, 11.24, 11.32, 11.53, 12.1, 13.05, 13.7, 13.99, 14.57, 15.45, 17.2, 19.23, 23.41, 24.23, 26.0, 26.13, 27.35, 28.66, 28.66, 29.48, 30.32, 31.72, 31.86, 32.07, 35.88, 36.85, 37.02, 37.71, 48.55, 49.37, 58.3, 64.1, 71.3, 88.49, 95.18, 103.39, 105.66, 154.88, 196.48, 200.94, 212.88, 1090.84, 0.0, 0.0, 0.0, 10.13, 0.0, 2.87, 0.76, 0.09, 0.75, 0.0, 2.47, 0.68, 0.24, 0.21, 1.52, 10.34, 0.0, 8.02, 0.68, 0.0, 1.38, 8.85, 3.3, 4.25, 1.56, 6.54, 0.79, 0.17, 0.0, 0.0, 4.4, 0.52, 9.27, 3.09, 8.98, 11.19, 5.38, 17.85, 10.73, 22.03, 9.77, 9.27, 24.77, 0.0, 1.1, 24.24, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.0, 2.64, 86.45, 6.57, 0.0, 0.9, 0.0, 0.0, 0.0, 0.0, 3.52, 0.0, 0.0, 0.0, 0.0, 0.41, 5.18, 0.0, 0.0, 0.0, 14.29, 0.0, 0.0, 1.58, 0.0, 0.0, 3.78, 0.0, 4.41, 34.36, 7.21, 1.01, 2.18, 4.42, 0.0, 0.0, 0.0, 0.0, 3.33, 6.58, 15.64, 11.22, 2.13, 0.0, 0.0, 0.0, 56.04, 7.48, 1.47, 3.93, 0.0, 0.0, 2.18, 6.1, 5.83, 28.19, 0.0, 0.0, 1.64, 3.71, 7.31, 2.03, 1.72, 5.97, 13.06, 1.26, 0.0, 0.0, 8.12, 1.09, 3.94, 0.52, 2.93, 5.65, 20.03, 1.75, 0.0, 12.64, 0.0, 11.06, 0.0, 0.0, 0.0, 18.3, 39.35, 0.0, 174.63, 0.0, 0.0, 7.73, 16.33, 5.86, 42.87, 12.18, 16.0, 24.59, 0.0, 28.74, 0.0, 9.96, 30.18, 70.76, 0.0, 0.0, 51.78, 3.64, 3.63, 0.0, 0.0, 8.16, 4.95, 0.0, 0.0, 6.04, 0.0, 3.95, 0.0, 7.8, 0.0, 0.0, 4.62, 1.63, 0.0, 0.0, 746.28, 7.02, 0.0, 2.44, 3.05, 185.76, 0.0, 6.3, 0.72, 4.96, 0.0, 0.0, 2.35, 0.0, 3.2, 0.0, 6.36, 0.0, 15.34, 0.0, 0.0, 0.54, 0.0, 6.43, 0.33, 0.0, 1.23, 3.35, 0.0, 9.96, 0.0, 0.0, 0.0, 0.0, 0.0, 6.43, 9.71, 0.0, 0.0, 0.0, 0.0, 0.0, 82.75, 3.32, 1.94, 0.0, 0.0, 3.71, 5.39, 2.14, 6.84, 3.18, 5.55, 6.61, 61.13, 0.0, 38.48, 1.94, 70.32, 10.08, 3.19, 1.76, 7.36, 2.21, 278.53, 2.75, 0.0, 1.29, 0.0, 26.43, 2.07, 2.0, 16.4, 46.7, 0.0, 0.0, 0.0, 0.0, 43.32, 8.59, 0.0, 2.77, 14.68, 40.54, 10.82, 0.0, 0.0, 0.0, 1.95, 49.59, 5.8, 0.0, 0.0, 0.0, 2.17, 0.43, 0.0, 6.44, 54.29, 11.16, 0.0, 0.0]

<br><br><br>If we want to return a DataFrame with only some **rows**, we can index a range:

In [ ]:
df[0:10]

In [ ]:
df[495:-12]

<br>If you only want a single row, you still need to use indexing with a `:`:

In [ ]:
df[4:5]

<br>*Note: There are other ways to index individual rows and even individual elements in a DataFrame, but we will cover that tomorrow.*

## <br><br>Selecting data with a boolean

To return a DataFrame that only has rows that meet a certain condition, we use this syntax. The outer `df[]` lets Python know that you want the answer to be returned as a DataFrame, meaning you want all the columns included in the output:

In [ ]:
df[df["month"] == "aug"]

In [ ]:
df[df["temp"] > 20]

### <br><br>Exercise 3

Write code to return a DataFrame that only includes rows that had no rain:

In [7]:
df[df["rain"] == 0]

,X,Y,month,day,fuel_code,moisture_code,drought_code,initial_spread_code,temp,humidity,wind,rain,area_burned
0,7,5,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00
1,7,4,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.00
2,7,4,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.00
4,8,6,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.00
5,8,6,aug,sun,92.3,85.3,488.0,14.7,22.2,29,5.4,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,4,3,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44
513,2,4,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29
514,7,4,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16
515,1,4,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00
516,6,3,nov,tue,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.00

Write code to return a DataFrame that only includes rows with a day that is not "sun":

In [8]:
df[df["day"] != "sun"]

,X,Y,month,day,fuel_code,moisture_code,drought_code,initial_spread_code,temp,humidity,wind,rain,area_burned
0,7,5,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00
1,7,4,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.00
2,7,4,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.00
3,8,6,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.00
6,8,6,aug,mon,92.3,88.9,495.6,8.5,24.1,27,3.1,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,1,2,aug,fri,91.0,166.9,752.6,7.1,25.9,41,3.6,0.0,0.00
509,5,4,aug,fri,91.0,166.9,752.6,7.1,21.1,71,7.6,1.4,2.17
510,6,5,aug,fri,91.0,166.9,752.6,7.1,18.2,62,5.4,0.0,0.43
515,1,4,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00
516,6,3,nov,tue,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.00

<br><br><br>If you don't use the outer `df[]` the return is a Series object that returns the boolean value for each row based on the condition you set:

In [ ]:
df["month"] == "aug"

## <br><br>Renaming columns

Here's what our column names look like:

In [ ]:
df.head()

Four of the columns end in "\_code". Let's remove that part from the column names. We can use the `rename()` method. We need to pass the function a dictionary of the old name to be replaced as the key and the new name as the value.

In [ ]:
df.rename(columns = {"moisture_code": "moisture", "fuel_code": "fuel"})

In [ ]:
df.head()

Uh-oh, the change didn't stick. We've encountered this before with strings, so we know the answer - reassign it to a variable.

In [11]:
df = df.rename(columns = {"moisture_code": "moisture", "fuel_code": "fuel"})

In [ ]:
df.head()

### <br><br>Exercise 4

Write code to remove "\_code" from the ends of the drought and initial_spread column names:

In [12]:
df = df.rename(columns = {"drought_code": "drought", "initial_spread_code": "initial_spread"})

In [13]:
df.head()

,X,Y,month,day,fuel,moisture,drought,initial_spread,temp,humidity,wind,rain,area_burned
0,7,5,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.0
1,7,4,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.0
2,7,4,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.0
3,8,6,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.0
4,8,6,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.0

## <br><br><br>Dropping rows and columns

Let's drop a single row from the DataFrame. How about row 2? You still have to assign `df` to a variable to make the change permanent:

In [14]:
df = df.drop(2)

In [ ]:
df.head()

<br>The index numbers did not reset when we dropped a row. 2 is missing!

We can reset the index and pretend like 2 was never there. The `reset_index()` function takes one keyword argument. If we don't pass this argument, `drop=True`, an extra column will get added to our DataFrame containing the old index numbers.

In [15]:
df = df.reset_index(drop=True)

In [ ]:
df.head()

<br><br><br>The `drop()` function defaults to dropping rows. If we want to drop a column, we need to add one more argument. `axis=1` is used in pandas to refer to columns as opposed to rows (`axis=0`). Let's drop the "X" column:

In [16]:
df = df.drop("X", axis=1)

In [ ]:
df.head()

### <br><br>Exercise 5

Write code to view the last 5 rows of the DataFrame:

In [17]:
df.tail()

,Y,month,day,fuel,moisture,drought,initial_spread,temp,humidity,wind,rain,area_burned
511,3,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44
512,4,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29
513,4,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16
514,4,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00
515,3,nov,tue,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.00

Now write code to drop the very last row:

In [20]:
df = df.drop(515)

In [21]:
df.tail()

,Y,month,day,fuel,moisture,drought,initial_spread,temp,humidity,wind,rain,area_burned
510,6,aug,sun,81.6,56.7,665.6,1.9,27.8,35,2.7,0.0,0.00
511,3,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44
512,4,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29
513,4,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16
514,4,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00

Write code to remove the "Y" column:

In [22]:
df = df.drop("Y", axis=1)

In [23]:
df.head()

,month,day,fuel,moisture,drought,initial_spread,temp,humidity,wind,rain,area_burned
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.0
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.0
2,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.0
3,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.0
4,aug,sun,92.3,85.3,488.0,14.7,22.2,29,5.4,0.0,0.0

## <br><br><br>Data aggregation

Data aggregation means taking many data points and reducing them to one number, whether it's a count, sum, mean, or other single statistic. Here are some DataFrame method functions:

- [`.count()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.count.html)
- [`.sum()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sum.html)
- [`.mean()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mean.html)
- [`.median()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.median.html)
- [`.min()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.min.html)
- [`.max()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.max.html)
- [`.unique()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html)
- [`.nunique()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.nunique.html)
- [`.std()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.std.html)   #Standard error
- [`.var()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.var.html)   #Variance
- And more!

If you use a method function on the entire dataset, it will try its best to execute the method for all columns.

In [ ]:
df.count()

In [ ]:
df.min()

In [ ]:
df.sum()

In [ ]:
df.unique()

<br>Not all functions will work on the entire DataFrame. Most of the time you are interested in only a subset of the data:

In [ ]:
df["day"].unique()

In [ ]:
list(df["day"].unique())

In [ ]:
df["month"].nunique()

In [ ]:
df["temp"].var()

### <br><br>Exercise 6

Write code to find the mean humidity of the dataset:

In [24]:
df["humidity"].mean()

44.335922330097084

Write code to find the coldest temperature in the dataset:

In [25]:
df["temp"].min()

2.2

## <br><br><br>Selecting data on multiple booleans

Earlier, we learned how to select rows based on one condition in a column. Here we will select with multiple conditions. The syntax requires us to 1. contain each boolean in parentheses, and 2. use `& | !` instead of `and or not`.

Data from Fridays when the temperature was over 30 Celcius:

In [ ]:
df[(df["day"] == "fri") & (df["temp"] > 30)]

Fires in either June or July:

In [ ]:
df[(df["month"] == "jun") | (df["month"] == "jul")]

### <br><br>Exercise 7

Write code to return rows with humidity under 30 and wind under 2:

In [26]:
df[(df["humidity"] < 30) & (df["wind"] < 2)]

,month,day,fuel,moisture,drought,initial_spread,temp,humidity,wind,rain,area_burned
49,sep,thu,92.9,137.0,706.4,9.2,20.8,17,1.3,0.0,0.00
84,sep,thu,92.9,137.0,706.4,9.2,21.5,15,0.9,0.0,0.00
196,sep,thu,92.9,137.0,706.4,9.2,21.5,15,0.9,0.0,11.06
217,sep,wed,92.9,133.3,699.6,9.2,19.4,19,1.3,0.0,31.72
310,sep,sun,92.4,105.8,758.1,9.9,24.8,28,1.8,0.0,14.29
381,aug,wed,95.2,217.7,690.0,18.0,28.2,29,1.8,0.0,5.86
440,aug,mon,92.1,207.0,672.6,8.2,25.5,29,1.8,0.0,1.23
475,jul,thu,93.5,85.3,395.0,9.9,27.2,28,1.3,0.0,1.76

Write code to return rows with a drought code over 600 or a moisture code under 50:

In [27]:
df[(df["drought"] > 600) | (df["moisture"] < 50)]

,month,day,fuel,moisture,drought,initial_spread,temp,humidity,wind,rain,area_burned
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.00
2,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.00
6,aug,mon,91.5,145.4,608.2,10.7,8.0,86,2.2,0.0,0.00
7,sep,tue,91.0,129.5,692.6,7.0,13.1,63,5.4,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...
510,aug,sun,81.6,56.7,665.6,1.9,27.8,35,2.7,0.0,0.00
511,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44
512,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29
513,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16
514,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00

### <br><br>groupby

Often, you will want to calculate the statistics for a particular subgroup of a data column.

For example, let's say we want to ask if more fires happen on certain days of the week. This code will tell you the count for every column in the DataFrame except the column that you are using to group your data (i.e. "day").

In [ ]:
df.groupby("day").count()

<br>It looks like weekends are worse than weekdays. (The next section will show you how to sort the rows.)

<br>If you only want to see the mean for one column in the DataFrame, you can add on the subsampling techniques we learned earlier in this lesson. With this code I will ask, What is the mean area burned on each day of the week?

In [ ]:
df.groupby("day")[["area_burned"]].mean()

<br>So Saturday fires are also the most destructive fires.

<br>We can also add some other functions to the end of our code, like round:

In [ ]:
df.groupby("day")[["area_burned"]].mean().round(2)

### <br><br>Exercise 8

Write code to count how many fires happened in each month:

In [29]:
df.groupby("month")[["day"]].count()

       day
month
apr      9
aug    184
dec      9
feb     20
jan      2
jul     32
jun     17
mar     54
may      2
oct     14
sep    172

Write code to see the mean area burned for fires in each month:

In [30]:
df.groupby("month")[["area_burned"]].mean()

       area_burned
month
apr       8.891111
aug      12.489076
dec      13.330000
feb       6.275000
jan       0.000000
jul      14.369687
jun       5.841176
mar       4.356667
may      19.240000
oct       7.112143
sep      17.942616

## <br><br><br>Sorting a DataFrame

There are two functions for sorting your DataFrame.

If you want to sort by the index numbers, or if you want to sort by the column names (alphabetically), you use `sort_index`. It can take two arguments: the axis to sort by (row or column) and the order (ascending or not):

The default arguments are to sort by row index with 0 at the top, which is how we've already been viewing the data:

In [ ]:
df.sort_index()

Let's try more arguments:

In [ ]:
df.sort_index(ascending=False)

In [ ]:
df.sort_index(axis=1)

In [ ]:
df.sort_index(axis=1, ascending=False)

<br><br><br>The second sort function, `sort_values()`, will sort the frame by the data in a column:

In [32]:
df.sort_values("area_burned")

,month,day,fuel,moisture,drought,initial_spread,temp,humidity,wind,rain,area_burned
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00
298,jun,sat,53.4,71.0,233.8,0.4,10.6,90,2.7,0.0,0.00
299,jun,mon,90.4,93.3,298.1,7.5,20.7,25,4.9,0.0,0.00
301,jun,fri,91.1,94.1,232.1,7.1,19.2,38,4.5,0.0,0.00
302,jun,fri,91.1,94.1,232.1,7.1,19.2,38,4.5,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...
235,sep,sat,92.5,121.1,674.4,8.6,18.2,46,1.8,0.0,200.94
236,sep,tue,91.0,129.5,692.6,7.0,18.8,40,2.2,0.0,212.88
478,jul,mon,89.2,103.9,431.6,6.4,22.6,57,4.9,0.0,278.53
414,aug,thu,94.8,222.4,698.6,13.9,27.5,27,4.9,0.0,746.28
237,sep,sat,92.5,121.1,674.4,8.6,25.1,27,4.0,0.0,1090.84

In [33]:
df.sort_values("day")

,month,day,fuel,moisture,drought,initial_spread,temp,humidity,wind,rain,area_burned
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00
352,sep,fri,92.1,99.0,745.3,9.6,19.8,47,2.7,0.0,1.72
104,mar,fri,85.9,19.5,57.3,2.8,12.7,52,6.3,0.0,0.00
354,sep,fri,92.1,99.0,745.3,9.6,20.8,35,4.9,0.0,13.06
355,sep,fri,92.1,99.0,745.3,9.6,20.8,35,4.9,0.0,1.26
...,...,...,...,...,...,...,...,...,...,...,...
43,sep,wed,90.1,82.9,735.7,6.2,12.9,74,4.9,0.0,0.00
44,sep,wed,94.3,85.1,692.3,15.9,25.9,24,4.0,0.0,0.00
156,aug,wed,92.1,111.2,654.1,9.6,18.4,45,3.6,0.0,1.63
449,aug,wed,95.2,217.7,690.0,18.0,23.4,49,5.4,0.0,6.43
239,apr,wed,88.0,17.2,43.5,3.8,15.2,51,2.7,0.0,0.00

### <br><br>Exercise 9

Write code to sort the DataFrame by the rain column, with the largest values at the top:

In [34]:
df.sort_values("rain", ascending=False)

,month,day,fuel,moisture,drought,initial_spread,temp,humidity,wind,rain,area_burned
498,aug,tue,96.1,181.1,671.2,14.3,27.3,63,4.9,6.4,10.82
508,aug,fri,91.0,166.9,752.6,7.1,21.1,71,7.6,1.4,2.17
242,aug,sun,91.8,175.1,700.7,13.8,21.9,73,7.6,1.0,0.00
499,aug,tue,96.1,181.1,671.2,14.3,21.6,65,4.9,0.8,0.00
500,aug,tue,96.1,181.1,671.2,14.3,21.6,65,4.9,0.8,0.00
...,...,...,...,...,...,...,...,...,...,...,...
167,mar,fri,91.2,48.3,97.8,12.5,14.6,26,9.4,0.0,2.53
166,aug,wed,96.0,127.1,570.5,16.5,23.4,33,4.5,0.0,2.51
165,aug,wed,92.1,111.2,654.1,9.6,16.6,47,0.9,0.0,2.29
164,mar,thu,84.9,18.2,55.0,3.0,5.3,70,4.5,0.0,2.14
514,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00

## <br><br>Saving your changed DataFrame

In [ ]:
new_filename = "fire_changed.csv"

In [ ]:
df.to_csv(new_filename)