# Data Science Basics - Day 3

#### If you are using Google Colab, you must run the next line of code. *If you are NOT using Google Colab, do NOT run the next line.*

In [ ]:
!wget https://raw.githubusercontent.com/aGitHasNoName/dataScienceBasics/main/wnba-team-elo-ratings.csv

## <br><br>Selecting data with pandas loc, iloc, at, and iat

#### <br>Import pandas

We import pandas as a shortened nickname, `pd`, which is commonly used for pandas.

In [2]:
import pandas as pd

#### <br><br>Loading in our sample dataset

Our sample dataset was taken from FiveThirtyEight. It contains game data for WNBA games since 1997.

In [3]:
df = pd.read_csv("wnba-team-elo-ratings.csv")

<br>Take a minute to examine the dataset.

In [10]:
df.head()

,season,date,team1,team2,name1,name2,neutral,playoff,score1,score2,elo1_pre,elo2_pre,elo1_post,elo2_post,prob1,is_home1
0,2019,10/10/2019,WAS,CON,Washington Mystics,Connecticut Sun,0,1,89,78,1684,1634,1692,1627,0.718,1
1,2019,10/10/2019,CON,WAS,Connecticut Sun,Washington Mystics,0,1,78,89,1634,1684,1627,1692,0.282,0
2,2019,10/8/2019,WAS,CON,Washington Mystics,Connecticut Sun,0,1,86,90,1693,1626,1684,1634,0.476,0
3,2019,10/8/2019,CON,WAS,Connecticut Sun,Washington Mystics,0,1,90,86,1626,1693,1634,1684,0.524,1
4,2019,10/6/2019,WAS,CON,Washington Mystics,Connecticut Sun,0,1,94,81,1671,1648,1693,1626,0.399,0

<br>How many rows are in the dataset?

In [ ]:
len(df)

#### <br><br>Today we will be talking about ways to subsample a pandas DataFrame.

<br>First, let's review how we can subsample certain columns in our DataFrame. We pass a list inside square brackets:

In [ ]:
df[["team1", "team2"]]

<br>If we only want to return one column, we can ask for a pandas **Series** object by passing only a column name inside square brackets...

In [ ]:
df["team1"]

<br>Or we can ask for a pandas **DataFrame** object by passing a list.

In [ ]:
df[["team1"]]

<br>**A Series object is a one-dimensional object, while a DataFrame is a two-dimensional object. A Series can be turned into a list, while a DataFrame can be indexed based on row number, so they both have their uses.**

<br><br>We can also pass a conditional statement (boolean) to return only some rows in a list:

In [ ]:
df[df["team1"] == "CHI"]

<br>However, using this method, we cannot refer to individual rows by name or pull up individual cells in our DataFrame.

In [ ]:
df[25]

## <br><br><br>pandas loc

The `loc` **attribute** allows us to call up certain rows and columns. The syntax is:

#### `df.loc[row, column]`

#### `df.loc[list of rows, list of columns]`

#### `df.loc[range of rows, range of columns]`

`loc` can take a row, a list of rows, or a range of rows, followed by a comma, and then a column, list of columns, or range of columns. <br><br>If you want all the rows or all the columns, you can use a `:`. <br><br>**The rows that we refer to here are the row names (index names) that are found in bold on the far left of our DataFrame.**

<br><br>Let's get a reminder of what our DataFrame looks like:

In [ ]:
df.head()

<br><br>To reference one cell:

In [ ]:
df.loc[25, "date"]

<br><br>All rows for one column:

In [ ]:
df.loc[:, "team1"]

<br><br>All columns for one row:

In [ ]:
df.loc[12, :]

### <br><br>Exercise 1

The very first game played by the Chicago Sky is in the row with index 6427.

Write code to return all columns in that row:

In [4]:
df.loc[6427, :]

season                  2006
date               5/20/2006
team1                    CHI
team2                    CHA
name1            Chicago Sky
name2        Charlotte Sting
neutral                    0
playoff                    0
score1                    83
score2                    82
elo1_pre                1300
elo2_pre                1428
elo1_post               1310
elo2_post               1418
prob1                  0.232
is_home1                   0
Name: 6427, dtype: object

Did the Chicago Sky play their very first game at home or away? Write code to return the data in the column "is_home1" for that row:

In [5]:
df.loc[6427, "is_home1"]

0

*(1 is True and 0 is False)*

## <br><br>`loc` with a range and a list

This code will return all columns for the rows 0 through 10.

In [ ]:
df.loc[0:10, :]

<br>**Unlike Python indexing, `loc` is referencing the rows by their index names, so row 10 is included.**

<br><br>We can also ask for a range of columns, from left to right:

In [ ]:
df.loc[0:10, "season":"name2"]

<br><br>Again, `loc` uses the column and row names, not their positions, so this will not work:

In [ ]:
df.loc[0:10, 0:4]

<br><br>We can also pass a list of rows or columns:

In [ ]:
df.loc[[0, 10, 8], ["team1", "score1", "team2", "score2"]]

*Notice how the returned DataFrame used the same order given in the lists.*

### <br><br>Exercise 2

Run the following cell to store the list of row indexes for the first 5 games played by the Chicago Sky:

In [6]:
first5 = [6427, 6415, 6393, 6387, 6371]

Write code to return the rows for the first 5 Chicago Sky games, and return only the columns "team2", "score1", "score2", and "is_home1":

In [7]:
df.loc[first5, ["team2", "score1", "score2", "is_home1"]]

     team2  score1  score2  is_home1
6427   CHA      83      82         0
6415   SAC      63      76         1
6393   IND      60      75         1
6387   LAS      55      64         1
6371   HOU      60      71         0

## <br><br>`loc` with a conditional

You can use a conditional to filter rows. The conditional is written the same way as we would write it without using loc:

In [ ]:
df.loc[df["team1"] == "CHI", :]

<br><br>Here I use the same filter for the rows, but I only ask for three columns to be returned:

In [ ]:
df.loc[df["team1"] == "CHI", ["team2", "score1", "score2"]]

### <br><br>Exercise 3

Write code to return all games played in the 2012 season. Only return the columns "date", "name1", and "name2".

In [8]:
df.loc[df["season"] == 2012, ["date", "name1", "name2"]]

            date               name1                     name2
3096  10/21/2012       Indiana Fever            Minnesota Lynx
3097  10/21/2012      Minnesota Lynx             Indiana Fever
3098  10/19/2012       Indiana Fever            Minnesota Lynx
3099  10/19/2012      Minnesota Lynx             Indiana Fever
3100  10/17/2012      Minnesota Lynx             Indiana Fever
...          ...                 ...                       ...
3537   5/19/2012         Chicago Sky        Washington Mystics
3538   5/19/2012  Washington Mystics               Chicago Sky
3539   5/19/2012         Tulsa Shock  San Antonio Silver Stars
3540   5/18/2012       Seattle Storm        Los Angeles Sparks
3541   5/18/2012  Los Angeles Sparks             Seattle Storm

[446 rows x 3 columns]

<br>**I've included a bonus section at the end of this notebook to remind you how to use multiple conditionals in pandas.**

## <br><br>pandas `iloc`

**While `loc` searches by row and column names, `iloc` searches only by the indexed positions in the DataFrame.**

Here, I'm asking for the top 10 rows and the first four columns:

In [ ]:
df.iloc[0:10, 0:4]

<br>**Notice that `iloc` uses Python indexing!** When we ask for rows 0:10, it returns rows 0 to 9. Also notice that the index (the bold number on the left side of each row) does not count as a true column.

<br>Because `iloc` uses Python indexing, we can use negative numbers:

In [ ]:
df.iloc[0:-5000, 4:-10]

### <br><br>Exercise 4

The games are included in reverse chronological order, so the last row in the table is the very first game ever played.

Was the very first game played at home or away for team1? Use iloc to return the column "is_home1" for the very last row in the DataFrame:

In [9]:
df.iloc[-1, -1]

1

Use iloc to write code to return the columns "team1" and "team2" for the most recent 20 games:

In [13]:
df.iloc[0:20, 2:4]

   team1 team2
0    WAS   CON
1    CON   WAS
2    WAS   CON
3    CON   WAS
4    WAS   CON
5    CON   WAS
6    WAS   CON
7    CON   WAS
8    WAS   CON
9    CON   WAS
10   WAS   LVA
11   LVA   WAS
12   WAS   LVA
13   CON   LAS
14   LVA   WAS
15   LAS   CON
16   WAS   LVA
17   CON   LAS
18   LAS   CON
19   LVA   WAS

## <br><br>pandas `at` and `iat`

If you are looking for the contents of only a single cell (called a **scalar**) in the DataFrame, you can use `loc` or `iloc`:

In [ ]:
df.loc[0, "season"]

In [ ]:
df.iloc[0, 0]

<br>However, there is another set of pandas functions designed to look up only a single cell. `at` will look up a single cell by row name and column name (like `loc`), and `iat` will look up a single cell by index position (like `iloc`).

Why does pandas have a separate way to look up a single cell? Because `at` and `iat` are very fast. If you write code to look up 10,000 single points in a DataFrame, it would be much faster to use `at` or `iat` than `loc` or `iloc`.

In [ ]:
df.at[0, "season"]

In [ ]:
df.iat[0, 0]

<br><br>Just to reiterate, `at` and `iat` cannot be used with multiple rows or columns:

In [ ]:
df.at[0, ["season", "date"]]

### <br><br>Exercise 5

Use `at` to write code to find out if the game in row 5485 was played at home or away:

In [15]:
df.at[5485, "is_home1"]

0

Now use `iat` to find the same answer:

In [16]:
df.iat[5485, -1]

0

### <br><br>A note about index labels

The bold numbers on the far left of each column were assigned to each row when the csv file was originally loaded into pandas.

In [ ]:
df.head()

<br>If we make a new DataFrame out of only some rows, the index labels will stay the same, leaving gaps. Let's make a new DataFrame that only includes games played by the Chicago Sky:

In [17]:
CHIdf = df.loc[df["team1"] == "CHI", :]
CHIdf.head()

,season,date,team1,team2,name1,name2,neutral,playoff,score1,score2,elo1_pre,elo2_pre,elo1_post,elo2_post,prob1,is_home1
25,2019,9/15/2019,CHI,LVA,Chicago Sky,Las Vegas Aces,0,1,92,93,1564,1541,1559,1545,0.399,0
28,2019,9/11/2019,CHI,PHO,Chicago Sky,Phoenix Mercury,0,1,105,76,1553,1450,1564,1440,0.788,1
36,2019,9/8/2019,CHI,WAS,Chicago Sky,Washington Mystics,0,0,86,100,1559,1706,1553,1712,0.214,0
47,2019,9/6/2019,CHI,CON,Chicago Sky,Connecticut Sun,0,0,109,104,1543,1615,1559,1599,0.295,0
65,2019,9/1/2019,CHI,PHO,Chicago Sky,Phoenix Mercury,0,0,105,78,1522,1527,1543,1506,0.607,1

<br>I can now use `iloc` to get Chicago's most recent 30 games:

In [ ]:
CHIdf.iloc[0:30, :]

<br>But I could not use `loc` to get the same thing:

In [ ]:
CHIdf.loc[0:30, :]

<br>You can, however, set one of your columns as the index labels:

In [23]:
CHIdf = CHIdf.set_index("date")

In [ ]:
CHIdf.head()

<br>Now I can use `loc` to reference the games by date:

In [ ]:
CHIdf.loc["9/13/2012", :]

<br><br>I can still use a range of row labels:

In [ ]:
CHIdf.loc["9/13/2012":"5/19/2012", :]

<br>If you've been wondering why referencing rows by index numbers would ever be useful, now you can set your index names to any unique value that would be useful to you - a sample ID, a name, a date, etc.

### <br><br>Exercise 6

Using the CHIdf, write code (use either `loc` or `at`) to find out which team Chicago played against on 6/16/2017:

In [25]:
CHIdf.at["6/16/2017", "team2"]

'PHO'

OR

In [26]:
CHIdf.loc["6/16/2017", "team2"]

'PHO'

### <br><br>BONUS SECTION

#### A reminder about searching for multiple conditionals in pandas

<br><br>Let's say we want to search through the original DataFrame, `df`, for all games played by the Chicago Sky where the Chicago Sky won. For each of these games, we want to return only the columns for season and the name of the opposing team.

The conditional for only Chicago Sky games is:
<br>`df["team1"] == "CHI"`
<br><br>The conditional for games that Chicago won is:
<br>`df["score1"] > df["score2"]`

We might try to use Python operators (`and`, `or`, `not`):

In [ ]:
df.loc[df["team1"] == "CHI" and df["score1"] > df["score2"], ["season", "name2"]]

<br><br>However, as a reminder, pandas uses the operators `&`, `|`, `!`. pandas also requires you to include each conditional inside parentheses.

In [ ]:
df.loc[(df["team1"] == "CHI") & (df["score1"] > df["score2"]), ["season", "team2"]]

### <br><br>Exercise 7

Use `loc` to return rows in the DataFrame that were played in either the 1999 or 2000 seasons. For each row, return all columns:

In [27]:
df.loc[(df["season"] == 1999) | (df["season"] == 2000), :]

,season,date,team1,team2,name1,name2,neutral,playoff,score1,score2,elo1_pre,elo2_pre,elo1_post,elo2_post,prob1,is_home1
8992,2000,8/26/2000,HOU,NYL,Houston Comets,New York Liberty,0,1,79,73,1741,1523,1743,1522,0.895,1
8993,2000,8/26/2000,NYL,HOU,New York Liberty,Houston Comets,0,1,73,79,1523,1741,1522,1743,0.105,0
8994,2000,8/24/2000,HOU,NYL,Houston Comets,New York Liberty,0,1,59,52,1735,1529,1741,1523,0.712,0
8995,2000,8/24/2000,NYL,HOU,New York Liberty,Houston Comets,0,1,52,59,1529,1735,1523,1741,0.288,1
8996,2000,8/21/2000,NYL,CLE,New York Liberty,Cleveland Rockers,0,1,81,67,1521,1460,1529,1451,0.734,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9937,1999,6/10/1999,LAS,SAC,Los Angeles Sparks,Sacramento Monarchs,0,0,100,78,1482,1423,1496,1410,0.689,1
9938,1999,6/10/1999,CHA,WAS,Charlotte Sting,Washington Mystics,0,0,83,73,1482,1334,1493,1323,0.597,0
9939,1999,6/10/1999,SAC,LAS,Sacramento Monarchs,Los Angeles Sparks,0,0,78,100,1423,1482,1410,1496,0.311,0
9940,1999,6/10/1999,WAS,CHA,Washington Mystics,Charlotte Sting,0,0,73,83,1334,1482,1323,1493,0.403,1
9941,1999,6/10/1999,CON,HOU,Orlando Miracle,Houston Comets,0,0,63,77,1300,1606,1293,1613,0.214,1

Has Chicago ever played in any playoff games? Return rows that have CHI in the "team1" column and 1 in the "playoff" column. Only return the columns "season", "team2", and "date":

In [28]:
df.loc[(df["team1"] == "CHI") & (df["playoff"] == 1), ["season", "team2", "date"]]

      season team2       date
25      2019   LVA  9/15/2019
28      2019   PHO  9/11/2019
1331    2016   LAS  10/4/2016
1335    2016   LAS  10/2/2016
1339    2016   LAS  9/30/2016
1343    2016   LAS  9/28/2016
1344    2016   ATL  9/25/2016
1785    2015   IND  9/21/2015
1791    2015   IND  9/19/2015
1799    2015   IND  9/17/2015
2211    2014   PHO  9/12/2014
2213    2014   PHO   9/9/2014
2215    2014   PHO   9/7/2014
2216    2014   IND   9/3/2014
2221    2014   IND   9/1/2014
2225    2014   IND  8/30/2014
2229    2014   ATL  8/26/2014
2233    2014   ATL  8/24/2014
2241    2014   ATL  8/22/2014
2674    2013   IND  9/22/2013
2681    2013   IND  9/20/2013

#### <br><br><br>What to learn next
You can also change data in your dataframe using `loc`. Check out this nice blog post to learn more: https://towardsdatascience.com/a-python-beginners-look-at-loc-part-2-bddef7dfa7f2